MS_TENANT_ID=58332ae6-4914-4c8e-adbc-339000e68a3a
MS_CLIENT_ID=a75f8252-228b-4062-a4ec-50276219d5e9
MS_CLIENT_SECRET=PEGA_AQUI_TU_CLIENT_SECRET_NUEVO

MS_SITE_HOSTNAME=TU_TENANT.sharepoint.com
MS_SITE_PATH=/sites/TU_SITIO
MS_DRIVE_NAME=Documentos
MS_ROOT_FOLDER=Nuevo Leon/REVISION SEMANAL/REVISION DE CLIENTES
